body {
    font-family: 'Muli', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    /* background: rgb(0,77,120);
    background: linear-gradient(233deg, #65ffb2 0%, #2fda8ad8 50%, rgb(0, 255, 128) 100%); */
    box-sizing: border-box;
}

header {
    color: #fff;
    width: 100%;
    height: 528px;
    margin: 0 auto 0;
    top: 20px;
    background-image: url("../img/original.jpg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(45, 128, 69, 0.842);
    box-sizing: border-box;
}

header .conteudo {
    padding: 30px 100px;
    line-height: 2.5em;
}

header .navbar {
    margin-top: 200px;
    /* padding-bottom: 30px; */
}

/* header .navbar ul {
    text-align: center;
}

header .navbar ul li {
    font-size: 1.4em;
    text-align: center;
    line-height: 1.8em;
    display: inline;
    margin: 0 50px;
}

header .navbar ul li ul {
    display: none;
    position: relative; 
    top:120px; 
    left:375px;
}

header .navbar ul li ul li{
    border: 1px solid rgb(12, 58, 12);
    background-color: rgb(12, 58, 12);
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.8em;
    display: list-item;
    position: relative;
}

#btnHome:hover ul{
    float: left;
    display: block;
} */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* padding-top: 30px;  */
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    background-color: #fff;
    margin: 30px;
    padding: 30px;
    box-shadow: 0 5px 10px 2px #2a8818;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }